/* 하단 */
footer{

}

footer .wrap{
  padding-top: 50px;
  padding-bottom: 80px;
  width: 1440px;
  margin: 0 auto;
  /*! border: 3px solid #999; */
  border-top-color: rgb(153, 153, 153);
  border-top-style: solid;
  border-top-width: 3px;
  box-sizing: border-box;
  border-top: transparent;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-left: 50px;
  /*! padding-right: 50px; */
}

footer .wrap h1{
  
  margin: 0;
}
footer .wrap h1 a{
  font-size: 0;
  background-image: url(../img/logo.svg);
  width: 80px;
  height: 80px;
  display: block;
  margin-top: 0;
}

footer .wrap address{

  width: 58%;
}

footer .wrap address strong{
  font-weight: bold;
  margin-right: 10px;
}

footer .wrap address strong:nth-child(n+2){
  margin-left: 20px;
}

footer .wrap p{

  margin-right: 50px;
}

footer .wrap p.copyright{
  position: absolute;
  left: 205px;
  top: 89px;
}

footer .wrap p.tel{

}

footer .wrap p.tel strong{ /* strong은 인라인태그 */
  font-size: 38px;
  vertical-align: top; /* 인라인요소의 수직정렬, vertical 수직의 */
  line-height: 0.8;
  font-weight: bold;
  margin-left: 10px;
}
